:root {
    --main-primary: #006064;
    --main-secondary: #197bbd;
    --plight: #428e92;
    --pdark: #00363a;
    --main-light: #dbe4ee;
    --main-dark: #232323;
    --shadow: rgba(0, 0, 0, .4);
}