.card-lic {
    text-align: center;
    transition: all .3s;
}

.card-lic .card-img {
    overflow: hidden;
}

.card-lic .card-img img {
    transition: all .3s;
    cursor: pointer;
}

.card-lic .card-body h4 {
    color: var(--main-dark)
}

.card-lic .card-body .btn-lic {
    background: var(--pdark);
    color: var(--main-light);
}

.card-lic:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 25px rgba(0, 0, 0, .4);
}


/* .card-lic .card-img img:hover {
    transform: scale(1.1);
} */