.card-lic {
    text-align: center;
    transition: all .2s;
}

.card-lic .card-img {
    overflow: hidden;
}
.card-lic .card-img img{
    transition: all .9s;
    cursor: pointer;
}

.card-lic .card-body h4 {
    color: var(--main-dark)
}

.card-lic .card-body .btn-lic {
    background: var(--pdark);
    color: var(--main-light);
}

.card-lic:hover {
    /* transform: translateY(-3px); */
    box-shadow: 0 1px 15px rgba(0,0,0,.5);
}

.card-lic .card-img img:hover {
    transform: scale(1.2) rotate(-5deg);
}

